.quantity {
    position: relative;
    text-align: center;
    padding-top: 25px;
}  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 100%;
    padding: 20px 0;
    line-height: 1.65;
    float: left;
    text-align: center;
    padding-left: 20px;
    border: 1px solid #A2A2A2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .quantity input:focus {
    outline: 0;
  }
  .quantity-nav {
    float: left;
    position: relative; 
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 40px;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    top: 0;
    right: 250px;
    
  }